<div class="imbus-user">
  <div
    class="card-avatar mat-elevation-z8"
    [ngClass]="{'on-break': user.status === UserStatus.OnBreak, 'inactive': user.status === UserStatus.Absent}"
  >
    <i class="material-icons">person</i>
  </div>

  <h4 class="name">{{ user.name }}</h4>
</div>
