:host {
  display: inline-block;

  .imbus-user {
    width: 9.375rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .card-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6.375rem;
      height: 6.375rem;
      border-radius: 50%;
      background: linear-gradient(60deg, #66bb6a, #43a047);
      margin-bottom: 10px;

      &.inactive {
        opacity: 0.4;
      }

      &.on-break {
        background: linear-gradient(60deg, #ffa726, #fb8c00) !important;
      }

      .material-icons {
        font-size: 4rem;
        color: white;
      }
    }
    .name {
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-align: center;
      text-overflow: ellipsis;
      font-size: 20px;
      padding: 0 5px;
    }
  }
}
