<div class="table-container">
  <!--  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">-->

  <!--    &lt;!&ndash; Date Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="date">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Date </th>-->
  <!--      <td mat-cell *matCellDef="let element"> {{element.date}} </td>-->
  <!--    </ng-container>-->

  <!--    &lt;!&ndash; In Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="in">-->
  <!--      <th mat-header-cell *matHeaderCellDef> In </th>-->
  <!--      <td mat-cell *matCellDef="let element"> {{element.in | time}} </td>-->
  <!--    </ng-container>-->

  <!--    &lt;!&ndash; Out Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="out">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Out </th>-->
  <!--      <td mat-cell *matCellDef="let element"> {{element.out | time}} </td>-->
  <!--    </ng-container>-->

  <!--    &lt;!&ndash; Break Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="break">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Break </th>-->
  <!--      <td mat-cell *matCellDef="let element"> {{calculateBreakTime(element.breaks) | time}} </td>-->
  <!--    </ng-container>-->

  <!--    &lt;!&ndash; WorkTime Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="work-time">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Work Time </th>-->
  <!--      <td mat-cell *matCellDef="let element"> {{calculateWorkTime(element.in, element.out) | time}} </td>-->
  <!--    </ng-container>-->

  <!--    &lt;!&ndash; Actual Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="total">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Total </th>-->
  <!--      <td mat-cell *matCellDef="let element"> {{calculateTotalHours(calculateWorkTime(element.in, element.out), calculateBreakTime(element.breaks)) | time}} </td>-->
  <!--    </ng-container>-->

  <!--    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
  <!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
  <!--  </table>-->

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header card-header-success">
          <h4 class="card-title">Hours Summary</h4>
          <p class="card-category">15th September, 2016</p>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-success">
              <th>Date</th>
              <th>In</th>
              <th>Out</th>
              <th>Break</th>
              <th>Work Time</th>
              <th>Total</th>
            </thead>
            <tbody>
              <tr *ngFor="let day of dataSource">
                <td>{{ day.date }}</td>
                <td>{{ day.in | time }}</td>
                <td>{{ day.out | time }}</td>
                <td>{{ day.breakTime | time }}</td>
                <td>{{ day.workTime | time }}</td>
                <td>{{ day.total | time }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
