:host {
  display: block;
  height: 100%;
  width: 100%;

  img {
    width: 200px;
    margin-bottom: 50px;
  }
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      mat-card-content {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
