<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card class="container">
      <mat-card-title>
        <img src="../../../assets/img/imbus-peja_logo.png" />
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="imbus ID"
            formControlName="username"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Login</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
