/*!

 =========================================================
 * Material Dashboard Angular - v2.3.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-dashboard-angular2
 * Copyright 2018 Creative Tim (http://www.creative-tim.com)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import 'core/variables';
@import 'core/mixins';
@import '~bootstrap/scss/bootstrap';

// Core Components
@import 'core/buttons';
@import 'core/checkboxes';
@import 'core/radios';
@import 'core/forms';
@import 'core/input-group';
@import 'core/images';
@import 'core/navbar';
@import 'core/alerts';
@import 'core/type';
@import 'core/tabs';
@import 'core/tooltip';
@import 'core/popover';
@import 'core/dropdown';
@import 'core/togglebutton';
@import 'core/ripples';
@import 'core/footers';
@import 'core/sidebar-and-main-panel';
@import 'core/fixed-plugin';
@import 'core/tables';
@import 'core/misc';

@import 'core/cards';
@import 'core/cards/card-stats';
@import 'core/cards/card-profile';
@import 'core/cards/card-plain';

//plugin scss
@import 'core/plugins/animate';
@import 'core/plugins/chartist';
@import 'core/plugins/perfect-scrollbar';

@import 'core/responsive';

@import 'core/angular-modal.scss';

html,
body {
  height: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  app-user-card {
    width: 25% !important;

    .imbus-user {
      width: 100% !important;

      .card-avatar {
        width: 50px !important;
        height: 50px !important;

        .material-icons {
          font-size: 2rem !important;
        }
      }

      .name {
        font-size: 12px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  app-user-card {
    width: 16.6% !important;

    .imbus-user {
      width: 100% !important;

      .card-avatar {
        width: 4rem !important;
        height: 4rem !important;

        .material-icons {
          font-size: 3rem !important;
        }
      }

      .name {
        font-size: 16px !important;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  app-user-card {
    width: 16.6% !important;

    .imbus-user {
      width: 100% !important;

      .card-avatar {
        width: 5rem !important;
        height: 5rem !important;

        .material-icons {
          font-size: 3rem !important;
        }
      }

      .name {
        font-size: 16px !important;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  app-user-card {
    width: 14.2% !important;

    .imbus-user {
      width: 100% !important;

      .card-avatar {
        width: 5.375rem !important;
        height: 5.375rem !important;

        .material-icons {
          font-size: 3.5rem !important;
        }
      }

      .name {
        font-size: 18px !important;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  app-user-card {
    width: 12% !important;

    .imbus-user {
      width: 100% !important;

      .card-avatar {
        width: 5.5rem !important;
        height: 5.5rem !important;

        .material-icons {
          font-size: 4rem !important;
        }
      }

      .name {
        font-size: 20px !important;
      }
    }
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  app-user-card {
    width: 10% !important;

    .imbus-user {
      width: 100% !important;

      .card-avatar {
        width: 6rem !important;
        height: 6rem !important;

        .material-icons {
          font-size: 3.8rem !important;
        }
      }

      .name {
        font-size: 20px !important;
      }
    }
  }
}

@media only screen and (min-width: 1800px) {
  app-user-card {
    width: 10% !important;

    .imbus-user {
      width: 100% !important;

      .card-avatar {
        width: 6.375rem !important;
        height: 6.375rem !important;

        .material-icons {
          font-size: 4rem !important;
        }
      }

      .name {
        font-size: 20px !important;
      }
    }
  }
}
